<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attobrain</title>
    <link rel="stylesheet" href="/sytle.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    
<header class="container navbar navbar-expand-lg">
    <h1>Attobrain</h1>
    <a href="/">Inicio</a>
    <a href="/projetos">Projetos</a>
    <a href="/como">Como Funciona</a>
    <a href="/equipe">Equipe</a>
    <a href="/contato">Contato</a>
</header>

<main>
    <h1>Neurotecnologia aplicada para atenção</h1>
    <h3>O Attobrain é um projeto da FATEC Registro que integra EEG/BCI, visão computacional e desempenho para apoiar o acompanhamento individual de indicadores associados á atenção de alunos.</h3>
    <a href="/projetos">Conheca do Projeto</a>
    <a href="/como">Como Funciona</a>


<section>
    <h1>EEG/BCI</h1>
    <h2>Aquisição e análise de sinais cerebrais relacionados à atenção.</h2>

    <h1>Visão Computacional</h1>
    <h2>Detecção de expressões faciais e movimentos oculares para monitoramento da atenção.</h2>

    <h1>Desempenho</h1>
    <h2>Integração com dados de desempenho em atividades e tarefas.</h2>

    <h1>Historico Individual</h1>
    <h2>Registro e análise de dados ao longo do tempo para acompanhamento individual.</h2>
</section>

</main>

<footer>
    <p>&copy; 2023 Attobrain. Todos os direitos reservados.</p>
</footer>

</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap
</html